<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuevo</title>
</head>
<body>
    <h1>Nuevo producto</h1>
    <form action="{{url_for('nuevo')}}" method="POST">
        Nombre: <input type="text" name="nombre" required><br>
        Cantidad: <input type="text" name="cantidad" required><br>
        Precio: <input type="text" name="precio" required><br>
        Fecha de vencimiento: <input type="date" name="fecha" required><br>
        Categoria: <input type="text" name="categoria" required><br>
        <input type="submit">
    </form>
</body>
</html>